<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a book to the library log</a><br />
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year Of Publication</th>
        <th>ISBN</th>

    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year_of_publication}"></td>
        <td th:text="${book.isbn}"></td>
        <td>
            <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>